.App {
  text-align: center;
}

.squares{
  width: 15px;
  height: 15px;
  border: solid 1px black;
  margin-bottom: 3px;
}
.main{
  display: flex;
  justify-content: center;
  align-items:center;
}
.buttons{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  font-family: 'Press Start 2P', cursive;
}

.header{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  font-family: 'Press Start 2P', cursive;
  margin-top: 5%;
  padding:2.5%;
}

.colorbut{
  height: 20px;
  width: 20px;
  background-color: white;
  margin: 10px;
  outline: none;
}

.colors{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.red{
  padding: 5px;
  background-color: red;
  border: none;
}
.blue{
  padding: 5px;
  background-color: blue;
  border: none;
}
.green{
  padding: 5px;
  background-color: green;
  border: none;
}
.black{
  padding: 5px;
  background-color: black;
  border: none;
}
.flexes{
  display: flex;

}
.columns{
  display:flex;
  flex-direction:column;
}
.greenout{
  border: 2px solid green
}
.blueout{
  border: 2px solid blue
}
.redout{
  border: 2px solid red
}

.speed{
  outline: none;
  margin: 10px;
  width: 10rem;
  height: 35px;
  font-family: 'Press Start 2P', cursive;
}

.current{
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.bottom{
  display: flex;
  width: 85%;
  justify-content: space-around;
  align-items: center;
}

.editbutton{
  width: 120px;
  /* background-color: slategrey; */
  /* border: 5px solid lightgrey; */
  /* color: ivory; */
  outline: none;
}

.presets{
  display:flex;
  width: 380px;
  justify-content: space-between;
  margin-top: 30px;
  height: 80px;
}

/* font-family: 'Press Start 2P', cursive; */