.App {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

.squares{
  width: 15px;
  height: 15px;
  border: solid 1px black;
  margin-bottom: 3px;
}
.main{
  display: flex;
  margin: 0;
  padding: 0;
}
.buttons{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  font-family: 'Press Start 2P', cursive;
  font-size: .75rem;
}

.header{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  font-family: 'Press Start 2P', cursive;
}

.presets {
  font-family: 'Press Start 2P', cursive;
  font-size: .75rem;
}

.colorbut{
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 10px;
  outline: none;
}

.colors{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.red{
  padding: 5px;
  background-color: red;
  border: none;
}

.red:focus{
  outline:none;
}

.orange{
  padding: 5px;
  background-color: #FE6702;
  border: none;
}

.orange:focus{
  outline:none;
}

.yellow{
  padding: 5px;
  background-color: #FFCA04;
  border: none;
}

.yellow:focus{
  outline:none;
}

.black{
  padding: 5px;
  background-color: black;
  border: none;
}

.black:focus{
  outline:none;
}

.flexes{
  display: flex;

}
.columns{
  display:flex;
  flex-direction:column;
}
.yellowout{
  border: 5px solid #FFCA04
}
.orangeout{
  border: 5px solid #FE6702
}
.redout{
  border: 5px solid red
}

.speed{
  outline: none;
  margin: 10px;
  width: 10rem;
  height: 35px;
  font-family: 'Press Start 2P', cursive;
  font-size: .75rem;
}

.current{
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.extras{
  display: flex;
  flex-direction: column;
}

.presets{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.title, .generation{
  font-family: 'Press Start 2P', cursive;
  font-size: .75rem;
}

.generationcontain {
  height: 5rem;
}

li{
  font-family: 'Press Start 2P', cursive;
}
